@import "lib/style";

.outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $lightGrayColor;
  padding: 8px;
}

.container {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  max-width: 480px;
  border: 1px solid rgba($grayColor, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.header {
  @include title-text;
  color: $blackColor;
}

.subHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.card {
  position: relative;
  border-radius: 8px;
  padding: 10px 90px;
  z-index: 10;
  background: $lightGrayColor;
  overflow: hidden;

  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  span {
    font-size: 18px;
    letter-spacing: -0.308px;
    line-height: 16px;
    font-weight: 500;
  }
}
